.container {
  max-width: 100%;
  background: #fafafa;
  margin-top: 10%;
  padding: 40px;
}

@media (min-width: 450px) {
  .container {
    width: 350px;
    background: white;
    box-shadow: 4px 4px 8px 0px rgba(207, 207, 207, 1);
    padding: 20px;
    margin: 50px auto 0;
  }
}

.title {
  padding: 15px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

.details {
  font-size: 13px;
  text-align: center;
  color: rgb(142, 142, 142);
  font-weight: 600;
  margin: 0 40px 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

.btncontain {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
