.logo {
  font-size: 23px;
  padding: 15px 10px;
  margin: 0 10px;
  font-family: "Lobster";
  font-weight: 500;
  cursor: pointer;
  color: black;
}

a {
  text-decoration: none;
}

.container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto 5px auto;
}

@media (min-width: 650px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 60px;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
}

.links {
  margin-left: auto;
  padding: 10px;
}

.link {
  padding: 10px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: color 100ms ease-in;
  cursor: pointer;
}

.link:hover,
.logo:hover {
  color: #f50057;
}
