.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
}

@media (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* break points */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */
