.grid {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 1100px) {
  .main {
    flex: 0.6;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
}

.main {
  width: 100%;
}

/* break points */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */
