.post {
  max-width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background: white;
}

.header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.avatar {
  height: 35px;
  width: 35px;
  background: lightgrey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.username {
  font-weight: 600;
  font-size: 0.9rem;
}

.image_container {
  position: relative;
}

.like {
  background: red;
}

.heart {
  color: black;
  font-size: 24px;
  padding: 8px;
  transition: color 200ms ease-in;
  cursor: pointer;
}

.heart:hover {
  color: red;
}

.active {
  color: red;
}

.comment_icon {
  font-size: 24px;
  padding: 8px;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icons img {
  padding: 8px;
}

.likes {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.caption {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.comment_section {
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  line-height: 18px;
}

.caption_username {
  font-weight: 600;
  font-size: 14px;
  margin-right: 3px;
}

.view_comment {
  margin: 0;
  color: rgb(0, 55, 107);
  cursor: pointer;
  margin-bottom: 4px;
}

/* @media (min-width: 1100px) {
  .post {
    max-width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1099px) {
  .post {
    max-width: 300px;
  }
} */
